form{

  border: 1px;
  background-color: gray;
  box-shadow: 1px 1px 5px 1px black;
}
.btn{
  align-items: center;
  text-align: center;
  margin-left: 30% ;
  width: 200px;
  font-weight: 500;
  background-color: rgb(7, 43, 249);
  border: none;
  color: white;
}