<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a href="#" routerLink="../../portfolio" class="navbar-brand">Portfolio</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="#" class="nav-link" routerLink="../home"><img src="../../assets/001home.png" alt=""> Home</a>
        </li>
  
        <li class="nav-item">
            <a href="#" class="nav-link" routerLink="../about"><img src="../../assets/003about.png" alt="">About Us</a>
        </li>
  
  
        <li class="nav-item">
            <a href="#" class="nav-link" routerLink="../contact"><img src="../../assets/002phone.png" alt="">Contact Us</a>
        </li>
  
    
    </ul>
  </nav>
<div class="container" >
    <div class="row">
     <div class="card">
        <h1> Hello, My name is Gaurav Mishra.
        </h1>
        <p>I am from Prayagraj and I,m a team player, flexible and highly motivated. </p>
     </div>

    </div>
</div>
