<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a href="#" routerLink="../../portfolio" class="navbar-brand">Portfolio</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="#" class="nav-link" routerLink="../home"><img src="../../assets/001home.png" alt=""> Home</a>
        </li>
  
        <li class="nav-item">
            <a href="#" class="nav-link" routerLink="../about"><img src="../../assets/003about.png" alt="">About Us</a>
        </li>
  
  
        <li class="nav-item">
            <a href="#" class="nav-link" routerLink="../contact"><img src="../../assets/002phone.png" alt="">Contact Us</a>
        </li>
  
    
    </ul>
  </nav>
<div class="jumbotron">
    <div class="container">
        
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>CONTACT US</h2>

                <form >
                    <div class="form-group">
                        <label>FirstName</label>
                        <input type="text" formControlName="firstName" class="form-control" />
                        <!--Custom Validations-->
                    </div >
                       
        


                    <!--Last Name-->
                    <div class="form-group">
                        <label>LastName</label>
                        <input type="text" formControlName="lastName"   class="form-control" />
                        <!--Custom Validations-->
                    
                    </div>


                    <!--email-->
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" formControlName="email" class="form-control" />
                        <!--Custom Validations-->
                     
                    </div>

                    <!--Password-->

                    <div class="form-group">
                        <label>Mobile</label>
                        <input type="text" formControlName="password"   class="form-control" />
                        <!--Custom Validations-->
                       
                    </div>



                    <div class="form-group">
                        <button class="btn btn-primary">Contact Us</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    
    
</div>
