  <div class="main-container">
  <div class="container">
    <h1 class="d-flex justify-content-center" style="color: rgb(228, 139, 38)">
      M-Aadhar Application
      <br><br>

    </h1>
    <div class="main">
    <span class>
    <div class="userbutton">
    <a
      type="button"
      class="btn btn-outline-danger"
      routerLink="/userlogin"
    >
      <b>User Login</b></a
    
    >&nbsp;&nbsp;
  </div>
    <br />
    <br />
    <div class="adminbutton">
    <a
      type="button"
      class="btn btn-outline-danger"
      routerLink="/adminlogin"
    >
     <b>Admin Login</b> 
    </a>
  </div>
    <br><br>
    <div class="newuser">
   <b> New User?</b><br><a routerLink="/register"><b>Register Here</b></a>
  </div>
  </span>
  </div>
</div>
</div>

