<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a href="#" routerLink="../../portfolio" class="navbar-brand">Portfolio</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="#" class="nav-link" routerLink="../home"><img src="../../assets/001home.png" alt=""> Home</a>
        </li>
  
        <li class="nav-item">
            <a href="#" class="nav-link" routerLink="../about"><img src="../../assets/003about.png" alt="">About Us</a>
        </li>
  
  
        <li class="nav-item">
            <a href="#" class="nav-link" routerLink="../contact"><img src="../../assets/002phone.png" alt="">Contact Us</a>
        </li>
  
    
    </ul>
  </nav>
  <div class="container">
    <h1><b>You can contact Us using social media sites</b></h1><br>
    <h2><img src="../../assets/gmail.png" alt="">Gmail : gauravmishra0143@gmail.com</h2>
    <h2><img src="../../assets/facebook.png" alt="">Facebook : Gaurav GM Mishra</h2>

    <h2><img src="../../assets/011-instagram-1.png" alt="">Instagram :gaurav_0627</h2>

    <h2><img src="../../assets/whatsapp.png" alt="" style="width: 30px;">WhatsApp : 7217875230</h2>

    <h2><img src="../../assets/phone.png" alt="">Contact : 7052945589</h2>

  </div>
