<!DOCTYPE html>
<html lang="en">
<head>
  
  <title>Web Development Blog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>

<body>
    
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a href="#" routerLink="Portfolio" class="navbar-brand">Portfolio</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="#" class="nav-link" routerLink="home"><img src="../../assets/001home.png" alt=""> Home</a>
        </li>
  
        <li class="nav-item">
            <a href="#" class="nav-link" routerLink="about"><img src="../../assets/003about.png" alt="">About Us</a>
        </li>
  
  
        <li class="nav-item">
            <a href="#" class="nav-link" routerLink="contact"><img src="../../assets/002phone.png" alt="">Contact Us</a>
        </li>
  
    
    </ul>
  </nav>
	<div class="page-header">
  		<h1 style=" text-align: center; font-size:40px;margin-top: 50px;margin-bottom: 50px;color:rgb(42, 100, 101);font-weight: 500;">Gaurav Mishra <br>Software Engineer</h1>
  		</div>

        <div class="container second">


            <div class="row">
              
                <div class="col-md-6">
                  <img src="../../assets/home.jpg" alt="" style="width: 450px; margin-top: 5%; margin-left: 9%; height: auto;">
                </div>
           
            
                <div class="col-md-6 text-center brief">
                    <h1>About me</h1>
                    <p><b>I am Gaurav Mishra.I am  from Prayagraj, Uttar Pradesh. I completed my UG anf PG from Ghaziabad. I love to play cricket. I love cooking as well as. I am a Software Engineer(Java Full Stack Developer). </b></p>
                </div> 
          
           
            </div>
        </div>


	

	<!-- Footer -->
	<footer class="page-footer font-small indigo">

	  <!-- Copyright -->
	  <div class="footer-copyright text-center py-3">This is the footer section where you can put the address and copyright details. © 2018 Copyright: 
	    <a routerLink="contact" > Contact Us</a>
	  </div>
	  <!-- Copyright -->

	</footer>
	<!-- Footer -->

    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    
</body>
</html>
